<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!-- vue.global.prod.js -->
    <script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <title>Gerador de Códigos QR</title>
</head>
<body>
    <div id="app">
        <div class="center">
            <div class="input data">
                <div class="field">
                    <input type="text" v-model="data" @input="update" id="data" required>
                    <span class="label">Conteúdo</span>
                </div>
            </div>

            <div class="input advanced">
                <fieldset id="general" class="active">
                    <div class="field">
                        <input type="checkbox">
                        <span class="label">Usar imagem</span>
                    </div>
                    <div class="field">
                        <input type="checkbox">
                        <span class="label">Cobrir fundo</span>
                    </div>
                    <div class="field">
                        <input type="checkbox">
                        <span class="label">Gerar automaticamente</span>
                    </div>
                </fieldset>
                
                <fieldset id="fieldset-squares">
                    <div class="field">
                        <span class="label">Cor</span>
                        <input type="color" v-model="corners.square.color" @input="update">
                    </div>
                    
                    <div class="field">
                        <span class="label">Estilo</span>
                        <input 
                            type="radio" 
                            v-model="corners.square.type" 
                            @change="update"
                            v-for="v in ['dot', 'square', 'extra-rounded']"
                            :value="v">
                    </div>
                </fieldset>
                
                <fieldset id="fieldset-dots">
                    <div class="field">
                        <span class="label">Cor</span>
                        <input type="color" v-model="corners.dot.color" @input="update">
                    </div>
                    
                    <div class="field">
                        <span class="label">Estilo</span>
                        <input 
                            type="radio" 
                            v-model="corners.dot.type" 
                            @change="update"
                            v-for="v in ['dot', 'square']"
                            :value="v">
                    </div>
                </fieldset>
                
                <fieldset id="fieldset-modules">
                    <div class="field">
                        <span class="label">Cor</span>
                        <input type="color" v-model="modules.color" @input="update">
                    </div>
                    
                    <div class="field">
                        <span class="label">Estilo</span>
                        <input 
                            type="radio" 
                            v-model="modules.type" 
                            @change="update"
                            v-for="v in ['rounded', 'dots', 'classy', 'classy-rounded', 'square', 'extra-rounded']" 
                            :value="v">
                    </div>
                </fieldset>
                
                <fieldset id="fieldset-background">
                    <div class="field">
                        <span class="label">Cor</span>
                        <input type="color" v-model="background.color" @input="update">
                    </div>
                </fieldset>
            </div>
    
            <div class="out">
                <div id="output"></div>
            </div>

            <div class="input save"></div>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>